body {
	font-family: 'Oswald', sans-serif;

	margin: 0;
	padding: 0;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.main-text {
	text-align: center;

	margin-top: 50px;
	margin-bottom: 50px;
}

.deposits__title {
	display: block;

	text-align: center;
	font-size: 28px;
	color: #144E51;

	padding-top: 50px;
}

.deposit__wrapper p {
	color: #144E51;
}
.type-of-currency__button {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 300px;


}
.type-of-currency {
	width: 90px;
	height: 80px;

	padding-right: 10px;

	background-color: #fff;
	border: 1px solid #00b3fa;
}

.type-of-currency:hover,
.type-of-currency:focus {
	background-color: #00b3fa;
}


.type-of-deposit__container {
	border: 1px solid #00b3fa;
	border-left: 10px solid #00b3fa;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
}

.deposit__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	border-top: 2px solid rgba(112, 128, 144, 0.5)
}

.name-of-deposit {
	padding-bottom: 20px;
}


.currency__image {
	display: block;

	width: 80px;
	height: 56px;

	border-radius: 10px;

	margin-bottom: 20px;
}

.deposit__image {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.deposit__description {
	display: block;

	width: 800px;

	padding-left: 20px;
	padding-right: 20px;

	font-size: 16px;
	line-height: 1.2;
}

.button__arrange {
	padding: 10px 30px;
	margin-top: 20px;
	margin-bottom: 20px;

	background-color: #00b3fa;
	border: 1px solid #00b3fa;
	border-radius: 10px;
}

.button__arrange:hover,
.button__arrange:focus {
	background-color: #0075fa;
}


.visible {
	display: none;
}